# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [2]:
number_float = 2.3
print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5.4
result = num1 + num2
print(result)

#shorthand version
result += 2 #result = result + 2
print (result)

7.4
9.4

##### Subtraction

In [9]:
result_diff = num2 - num1  
print (result_diff)

result -= 1 #result = result -1
print(result)

3.4000000000000004
8.4

##### Multiplication

In [21]:
result_mult = num1 * num2
print(result)

result_mult *= 2
print(result_mult)

8.4
21.6

##### Division

In [23]:
result_div = num1/num2
print(result_div)

result_div /= 2
print(result_div)

0.37037037037037035
0.18518518518518517

##### Floor Division

In [11]:
result_floor = num2//num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [15]:
result_mod = num2%num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [17]:
square = 5 ** 2
print(square)

#shorthand
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [24]:
name = 'Steve'
print(name)

Steve

##### print() <br>
<p>Don't forget about end=' '</p>

In [27]:
print('This is my first name', name)

print("Full Name:", name, end = ' Yoon')

This is my first name Steve
Full Name: Steve Yoon

##### String Concatenation

In [46]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

#shorthand
full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [ ]:
number_string = "32"

change_type_num = int(number_string)

print(number_string)
print(change_type_num)

print('\n')
print(type(number_string))

##### input()

In [ ]:
# input will ALWAYS return a string -- ALL THE TIME

age = input('What is your age?: ')
print(age)

add_age = int(age) + 1
print(add_age)

##### format()

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [48]:
color = input('what is the color of your car?')
make = input('what is the make of your car?')
year = input('what is the year of your car?')
model = input('what is the model of your car?')
print (color, make, year, model)

what is the color of your car?blue
what is the make of your car?honda
what is the year of your car?2016
what is the model of your car?hrv
blue honda 2016 hrv

### If Statements

In [52]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
if num2 == num1:
    print('Equal Values')
else: 
    print('not equal')
    
if num2 >= num1:
    print('num2 is greater')
elif num2 <= num2:
    print('num1 is less than num2')

not equal
num2 is greater

##### 'is' keyword

In [53]:
num3 = 55
if num3 is 55:
    print('num3 is 55')

num3 is 55

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-53-2be3a6c256af>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [55]:
#check if char is in name

char_name = 'Max Payne'

if "Max" in char_name:
    print('The character who lost everything')

##### 'not in' keyword'

In [56]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print('Not here boss....')

Not here boss....

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [65]:
userInput = input('enter a string: ')

if "p" in userInput:
    print('p is in ' + userInput)
else:
    print('no p found')

enter a string: map
p is in map

## Using 'and'/'or' with If Statements

In [69]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#if with "and" statements
if num_11 /5 == num_12 and num_13 - 7 == num_14:
    print('True and True')

# if with "or" statements
if num_11 > num_12 or num_13 == num_14:
    print('true and false') #still prints because one of these is true

true and false

### Elif Statements

In [71]:
first_name = "Smith"

if first_name == "Smith":
    print("The name is Smith")
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

The name is Smith

### Else Statements

In [157]:
# see above

### For Loops

In [75]:
#keywords needed: for, a counter, in , condition

#for i in range(10):
#    print(i)
    
name = "Steve Yoon"
#for letter in name:
 #   print(letter)
    
for i in range(len(name)):
    print (name[i])

S
t
e
v
e

Y
o
o
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [77]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [83]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass #todo: come back and finish implentation

##### Double For Loops

In [88]:
for i in range(5):
    for j in range(5):
        print ("i =", i,"j =", j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [93]:
#while keyword, condition statement
#based on the conditional statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [95]:
game_over = False

while True:
    print("infinite loop")
    if game_over == False:
        break;

infinite loop

##### While & For Loops Used Together

In [98]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 1
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 2
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [99]:
#start, stop, step

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [101]:
#check length of a variable
name = "Max "
length = len(name)
print(length)

4

##### help()

In [104]:
#use this function to view more info about python function (with docstring)

#help(range)

range?

##### isinstance()

In [110]:
#check a var to find out what object family it belongs to 
# isinstance(var,type)

print(isinstance(4.5,int))

if isinstance(4.5, float):
    print("This is a float type")

False
This is a float type

##### abs()

In [111]:
# | 5 |

print(abs(-5))

5

### Try and Except

In [116]:
#use whenever you expect to encounter a bug so that the erorr doesn't cause the program to stop
#use so you can log out gracefully and useful error messages


try:
    number_test = 0
    input_num = int(input('guess a number: '))
    if input_num != number_test:
        input_num = input_num + number_test
        print('Your number is: ' + str(input_num))

except:
    print('wrong guess')

guess a number: 12
Your number is: 12

### Lists

##### Declaring Lists

In [140]:
l_l = []

names = ['Eddie', 'Dan', 'Steve', 'John', 'Jose']

##### Indexing a List

In [124]:
#[start: stop: step] == [-1]

print(names[2])

print(names[1:])

#print starting at the beginning of a list to N (n == the number we want to stop at)
print(names[:2])

#print starting at index 1 going up by 2 in each iteration
print(names[1::2])

#print starting from the back and present in reverse order
print(names[::-1])

Steve
['Dan', 'Steve', 'John', 'Jose']
['Eddie', 'Dan']
['Dan', 'John']
['Jose', 'John', 'Steve', 'Dan', 'Eddie']

##### .append()

In [125]:
print (names)

['Eddie', 'Dan', 'Steve', 'John', 'Jose']

##### .insert()

In [134]:
names.insert(3,"Monica")
print(names)

['Eddie', 'Dan', 'Steve', 'Monica', 'John', 'Jose']

##### .pop()

In [172]:
#pop will default to the last value if no parameter is given
#pop returns the element that was popped off in case you want to assign to a var

#a_name = names.pop()
#print(a_name)

print(names.pop(2))

Oh


##### .remove()

In [143]:
#value to be removed, not index
#names.remove("Bob")
#print(names)

while "Jose" in names:
    names.remove("Jose")
print(names)

['Eddie', 'Dan', 'Steve', 'John']

##### del()

In [144]:
del(names[1])
print(names)

['Eddie', 'Steve', 'John']

##### Concatenating Two Lists

In [145]:
l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [148]:
names = ["Michael", "Joe", "Oh", ["Hannah","Alex", "Kristine"]]
print(names)

print(names[3][1])

['Michael', 'Joe', 'Oh', ['Hannah', 'Alex', 'Kristine']]
Alex

##### Looping Through Lists

In [149]:
#two ways to loop through a list, 1-by index, 2 - by keyword

#for loop by index
for i in range(len(names)):
    print(names[i])

#for loop using "in"
for i in names:
    print(i)

Michael
Joe
Oh
['Hannah', 'Alex', 'Kristine']
Michael
Joe
Oh
['Hannah', 'Alex', 'Kristine']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [201]:
i = 1
while (i**3) < 1000:
    print (i**3)
    i += 1

1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [225]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for i in range(1,100):
    count = 0
    for j in range(1, i + 1):
        if(i % j == 0):
            count += 1
    if(count ==2):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [224]:
age = int(input("What's your age?: "))
if age < 18:
    print('Kids')
elif age >= 18 and age <= 65:
    print('Adults')
else:
    print('Seniors')

What's your age?: 65
Adults